<section class="orders-show">
<header class="page-header">
  <h1>Order # <%= @order.id %></h1>
</header>
<h3> Thank you <%= @order.email %>, here is your order summary.</h3>
<div class="order-summary jumbotron">
<% @order_line_items.each do |item| %>
  <tr>
    <td>
      <%= image_tag item.product.image.tiny %>
    </td>
    <td>
      <h4><%= item.product.name %></h4>
      <br>
      <p><%= item.product.description %></p>
    </td>
    <td> Quantity =
      <%= item.quantity %>
    </td>
    <td> Total =
      <%= humanized_money_with_symbol item.quantity * item.product.price %>
    </td>
  </tr>
  <% end %>
</div>
</section>